<a href="https://colab.research.google.com/github/410351398/fin_data/blob/main/%E8%AE%80%E5%8F%96csv%E6%AA%94%E8%B3%87%E6%96%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
url = "https://raw.githubusercontent.com/410351398/fin_data/main/TEJ.csv"

In [ ]:
df = pd.read_csv(url, index_col=0)

In [ ]:
df

,年/月,季別,合併(Y/N),月份,幣別,存貨,資產總額,營業收入淨額,(累積),Unnamed: 10
公司,,,,,,,,,,
2330 台積電,2023/12,4,Y,12,NTD,"250,997,088","5,532,371,215","2,161,735,841",NaN,NaN
2330 台積電,2023/09,3,Y,09,NTD,"262,090,072","5,484,556,381","1,536,206,985",NaN,NaN
2330 台積電,2023/06,2,Y,06,NTD,"234,332,949","5,149,465,045","989,474,227",NaN,NaN
2330 台積電,2023/03,1,Y,03,NTD,"216,067,981","5,045,844,348","508,632,973",NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
公司,年/月,季別,合併(Y/N),單季(Q)/單半年(H),月份,幣別,存貨,資產總額,營業收入淨額,(單季)
2330 台積電,2023/12,4,Y,Q,12,NTD,"250,997,088","5,532,371,215","625,528,856",NaN
2330 台積電,2023/09,3,Y,Q,09,NTD,"262,090,072","5,484,556,381","546,732,758",NaN
2330 台積電,2023/06,2,Y,Q,06,NTD,"234,332,949","5,149,465,045","480,841,254",NaN
2330 台積電,2023/03,1,Y,Q,03,NTD,"216,067,981","5,045,844,348","508,632,973",NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
公司,年/月,季別,合併(Y/N),月份,幣別,存貨,資產總額,營業收入淨額,(累積),NaN
1101 台泥,2023/12,4,Y,12,NTD,"11,494,015","469,438,522","109,314,335",NaN,NaN
1101 台泥,2023/09,3,Y,09,NTD,"13,443,179","472,917,462","80,966,464",NaN,NaN
1101 台泥,2023/06,2,Y,06,NTD,"14,503,585","456,341,649","53,964,171",NaN,NaN
1101 台泥,2023/03,1,Y,03,NTD,"15,773,232","461,648,368","26,295,929",NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
公司,年/月,季別,合併(Y/N),單季(Q)/單半年(H),月份,幣別,存貨,資產總額,營業收入淨額,(單季)
1101 台泥,2023/12,4,Y,Q,12,NTD,"11,494,015","469,438,522","28,347,871",NaN
1101 台泥,2023/09,3,Y,Q,09,NTD,"13,443,179","472,917,462","27,002,293",NaN
1101 台泥,2023/06,2,Y,Q,06,NTD,"14,503,585","456,341,649","27,668,242",NaN
1101 台泥,2023/03,1,Y,Q,03,NTD,"15,773,232","461,648,368","26,295,929",NaN